name: "Update Regions"

on:
  workflow_dispatch:

jobs:
    update_regions:

        runs-on: ubuntu-latest

        steps:
          - name: Checkout Repo
            uses: actions/checkout@master
            with:
               ref: ${{ github.ref }}

          - name: Set up Python
            uses: actions/setup-python@v1
            with:
              python-version: '3.8'

          - name: Install Geopandas
            run: |
              python -m pip install -U pip
              pip install geopandas

          - name: Install Shapely
            run: |
              python -m pip install -U pip
              pip install shapely

          - name: Install Requests
            run: |
              python -m pip install -U pip
              pip install requests

          - name: Update Regions
            run: python3 regionUpdaterCode.py
