name: "Update Regions"

on:
  workflow_dispatch:
  schedule:
    - cron:  '0 8 * * *'
  push:

jobs:
    update_regions:

        runs-on: ubuntu-latest

        steps:
          - name: Checkout Repo
            uses: actions/checkout@v2
            with:
               ref: ${{ github.ref }}

          - name: Set up Python 3.9
            uses: actions/setup-python@v2
            with: 
              python-version: '3.9'

          - name: Install Dependencies
            run: |
              python -m pip install --upgrade pip
              pip install  pytest
              pip install -r requirements.txt
              pip install shapely
              pip install geopandas
              pip install requests
              

          - name: Update Regions
            run: python3 regionUpdaterCode.py
            env:
              AUTH_URL: ${{ secrets.AUTH_URL }}
              ITERATIONS_END: ${{ secrets.ITERATIONS_END }}
            
          - name: Archive Region Updater Results
            uses: actions/upload-artifact@v2
            with:
              name: region-updater-results
              path: RegionUpdaterResultsTracker.csv
